body {
    margin: 0; /* Remove as margens padrão do body */
    height: 100vh; /* Define a altura do body como 100% da altura da viewport */
    width: 100vw; /* Define a largura do body como 100% da largura da viewport */
    background-size: cover; /* Garante que a imagem cubra toda a área */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    overflow: hidden; /* Evita barras de rolagem desnecessárias */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.bg-zodiac {
    background-image: url('../../assets/imgs/zodiac-background.jpeg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 80%;
    border-radius: 30px;
    box-shadow: 3px 3px 7px rgba(14, 0, 63, 0.3); /* Sombra suave com desfoque */
}

.card {
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    border: none;
    border-radius: 10px;
}

.magic-title {
    animation: magic 5s infinite alternate;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #5003df, 0 0 40px #000fe6, 0 0 50px #0004e6, 0 0 60px #000fe6, 0 0 70px #e60073;
}

@keyframes magic {
    0% {
        color: #fff;
    }
    100% {
        color: #0004e6;
    }
}

footer {
    text-align: center;
    padding: 20px 0; /* Ajuste o preenchimento conforme necessário */
}

.btn-plastic {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60px; /* Aumenta o tamanho do botão */
    height: 60px; /* Aumenta o tamanho do botão */
    padding: 0;
    margin: 10px; /* Aumenta o espaçamento entre os botões */
    background: linear-gradient(to bottom, #e0e0e0, #c2c2c2);
    border: none;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-plastic:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
}

.btn-plastic::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.btn-plastic:hover::before {
    opacity: 1;
}

.zodiac-icon {
    width: 36px; /* Aumenta o tamanho do ícone */
    height: 36px; /* Aumenta o tamanho do ícone */
}
